snippet fig #figure($1, caption: [$2]) <$3>
	#figure(
	  $1,
	  caption: [$2]
	) <fig-$3>

snippet code #figure($1, caption: [$2]) <code-$3>
	#figure(
	  $1,
	  supplement: [Codefragment],
	  caption: [$2]
	) <code-$3>

snippet kotlin ```kotlin...```
	\`\`\`kotlin
	$1
	\`\`\`

snippet pagebreak
	#pagebreak()
